<div class="field">
  <label><%= t("job.title") %></label> <%= @job.title %>
</div>
<div class="field">
  <label><%= t("job.location") %></label> <%= @job.location %>
</div>
<div class="field">
  <label><%= t("job.company_name") %></label> <%= @job.company_name %>
</div>
<div class="field">
  <label><%= t("job.contacst_info") %></label> <%= @job.contact_info %>
</div>
